<button type="button" (click)="OpenModal()">+ Add User</button>
<div class="modal" *ngIf="visible">
    <form>
        <h2>Add User</h2>
        <hr>
        <div>
            <label>First Name</label>
            <input type="input" placeholder="First Name">
        </div>
        <div>
            <label>Last Name</label>
            <input type="input" placeholder="Last Name">
        </div>
        <div>
            <label>Contact</label>
            <input type="input" placeholder="Contact Number">
        </div>
        <div>
            <label>Email</label>
            <input type="input" placeholder="Email">
        </div>
        <div class="">
            <button type="submit">Save</button>
            <button type="button" class="buttondel" (click)="OpenModal()">Cancel</button>
        </div>
    </form>
</div>