<table border="1">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Arsan</td>
            <td>Miths</td>
            <td>(999)-776-7668</td>
            <td>arsanmiths89@gmail.com</td>
            <td><button type="button">Edit</button></td>
            <td><button type="button">Delete</button></td>
        </tr>
        <tr>
            <td>Bobby</td>
            <td>Morris</td>
            <td>(000)-776-3232</td>
            <td>bobbymorris@gmail.com</td>
            <td><button type="button">Edit</button></td>
            <td><button type="button">Delete</button></td>
        </tr>
        <tr>
            <td>Charlie</td>
            <td>Davis</td>
            <td>(999)-222-67676</td>
            <td>charliedavis@gmail.com</td>
            <td><button type="button">Edit</button></td>
            <td><button type="button">Delete</button></td>
        </tr>
        <tr>
            <td>Doe</td>
            <td>Wilson</td>
            <td>(000)-111-4565</td>
            <td>doewilson@gmail.com</td>
            <td><button type="button">Edit</button></td>
            <td><button type="button">Delete</button></td>
        </tr>
         
    </tbody>
</table>