table {
    margin: 15px 0;
    border-spacing: 0;
    border-collapse: collapse;
    
    tr {
        th, td {
            padding: 10px;
            margin: 0;
            border: 1px solid #888;
            ;
        }
       
    }
}
