/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Courier New', Courier, monospace;
}
button {
    background: #037fb9;
    padding: 10px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24);
    border-radius: 3px;;
    border: 0;
    color: #fff;
 }
 .buttondel {
    background: #ff6f5c;
}
 